body {
    background-image: url("../res/blockchain.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

h1 {
    color: white;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    background-color: #1D323F;
    padding: 1rem 0;
    width: 100%;
}

h2 {
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    background-color: #1D3556;
    padding: 1rem 0;
    width: 100%;

}
